[submodule "unity/Assets/PostProcessing/PostProcessing.git"]
	path = unity/Assets/PostProcessing/PostProcessing.git
	url = https://github.com/Unity-Technologies/PostProcessing
[submodule "unity/Assets/AssetBundles-Browser/AssetBundles-Browser.git"]
	path = unity/Assets/AssetBundles-Browser/AssetBundles-Browser.git
	url = https://github.com/Unity-Technologies/AssetBundles-Browser
[submodule "unity/Assets/LightShafts.git"]
	path = unity/Assets/LightShafts/LightShafts.git
	url = https://github.com/robertcupisz/LightShafts
