[submodule "unity/Assets/AssetBundles-Browser/AssetBundles-Browser.git"]
	path = unity/Assets/AssetBundles-Browser/AssetBundles-Browser.git
	url = https://github.com/Unity-Technologies/AssetBundles-Browser
